* {
	border: none;
	border-radius: 0;
	font-family: "noto sans";
	font-size: 11px;
	min-height: 0;
	margin: 0px;
	color: #bbbbbb;
}

window#waybar {
	/*background: #000000;*/
	background: rgba(0, 0, 0, 0.75);
	color: black;
	color: #ffffff;
}

#window {
	color: #e4e4e4;
	font-weight: bold;
}

#tags {
	padding: 0px;
	margin: 0px;
	color: #de7171;
}

#tags button {
	padding: 0 2px;
	margin: 0px;
	background: transparent;
	color: #de7171;
	/*
	color: #00afd7;
	color: #ffffff;
	border: 1px solid #00afd7;
	*/
	border: 1px solid #1b1d1e;
	font-weight: bold;
}
#tags button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#tags button.focused {
	background: #de2525;
	background: #de2525;
	color: #1b1d1e;
}

#tags button.urgent {
	background: #af005f;
	color: #1b1d1e;
}

#tags button.empty {
    opacity: 0;
}

#mode {
	background: #af005f;
	color: #1b1d1e;
}
#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
	padding: 0 3px;
	margin: 0 2px;
	color: #de2525;
	font-weight: bold;
}

#clock {
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #af005f;
    }
}

#battery.warning:not(.charging) {
	background-color: #ff8700;
	color: #1b1d1e;
}
#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}
